<h3>マイデザインを新しく登録する</h3>
<%= form_with scope: :tweet, url: tweets_path, local: true do |form| %>
  <% if @tweet.errors.any? %>
    <div id="error_explanation">
      <h4>
        おっと！うっかりミスがあるようです。登録できませんでした。
      </h4>
      <ul>
        <% @tweet.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= form.label :url, "マイデザインを投稿したツイートの URL を入力してください" %><br>
    <%= form.text_area :url, :class=>"materialize-textarea" %>
  </p>
  <p>
    <%= form.submit "ツイートを登録", :class=>"btn-large waves-effect waves-light" %>
  </p>
<% end %>
